<h3>Frozen Columns</h3>
<p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="newData" [scrollable]="true" scrollHeight="150px" [frozenWidth]="frozenWidth">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:120px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [ngClass]="'headerstyle'" [pSortableColumn]="col.field">
                {{col.header}}<p-sortIcon *ngIf="col.field == 'companyName' || col.field == 'distributor_ac'" [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns" [ngClass]="col.field=='total_fam' ? 'lastrow' : col.field=='total_euro' ? 'lastrow' : null">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td *ngFor="let col of columns; let i = index">
                <div *ngIf="col.field == 'companyName'">Total</div>
                <div *ngIf="col.field == 'fam_2015'">{{totalcal[0].fam_2015}}</div>
                <div *ngIf="col.field == 'euro_2015'">{{totalcal[0].euro_2015}}</div>
                <div *ngIf="col.field == 'fam_2016'">{{totalcal[0].fam_2016}}</div>
                <div *ngIf="col.field == 'euro_2016'">{{totalcal[0].euro_2016}}</div>
                <div *ngIf="col.field == 'total_fam'">{{totalcal[0].total_fam}}</div>
                <div *ngIf="col.field == 'total_euro'">{{totalcal[0].total_euro}}</div>
            </td>
        </tr>
    </ng-template>
</p-table>