<h3>Frozen Columns</h3>
<select (change)="onChange($event.target.value)">
    <option value="">select</option>
    <option *ngFor="let i of yearsdd">{{i}}</option>
</select>
<h3></h3>
<p-table [columns]="arrdd" [frozenColumns]="frozenCols" [value]="newData" [scrollable]="true"
    scrollHeight="200px" [frozenWidth]="frozenWidth">
    <ng-template pTemplate="colgroup" let-columns>
        <colgroup>
            <col *ngFor="let col of columns" style="width:120px">
        </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <!-- <tr>
            <th *ngFor="let col of columns; let i = index" [class]="i">
                {{i}}
            </th>
        </tr> -->
        <tr>
            <th *ngFor="let col of columns; let i = index" [ngClass]="'headerstyle'" [pSortableColumn]="col.field">
                {{col.header}}<p-sortIcon *ngIf="col.field == 'company_name' || col.field == 'distributor_ac_no'"
                    [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns; let i = index"
                [ngClass]="col.field=='fam_total' ? 'lastrow' : col.field=='euro_total' ? 'lastrow' : null">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td *ngFor="let col of columns; let i = index" style="background-color:rgba(211, 211, 211, 0.247)">
                <div *ngIf="col.field == 'company_name'">Total</div>
                <div *ngIf="col.field == 'fam_local_2015'">{{totalcal[0].fam_local_2015}}</div>
                <div *ngIf="col.field == 'euro_other_2015'">{{totalcal[0].euro_other_2015}}</div>
                <div *ngIf="col.field == 'fam_local_2016'">{{totalcal[0].fam_local_2016}}</div>
                <div *ngIf="col.field == 'euro_other_2016'">{{totalcal[0].euro_other_2016}}</div>
                <div *ngIf="col.field == 'fam_total'">{{totalcal[0].fam_total}}</div>
                <div *ngIf="col.field == 'euro_total'">{{totalcal[0].euro_total}}</div>
            </td>
        </tr>
    </ng-template>
</p-table>
<app-graphs></app-graphs>